/* 加载动画css */
.modal-dialog {
    top: 0;
    width: auto;
    left: 0;
    right: 0;
    height: 100%;
    padding: 0 30px;
    margin: 0;
    z-index: 99999999;
    max-width: 100%;
    pointer-events: auto;
}
.modal {
    z-index: 9999999 !important;
}