<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>最喜爱的教育文章</title>
    <link rel="stylesheet" href="../css/myStyle.css?r=121">
    <link rel="stylesheet" href="../css/animate.min.css">
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/vue.min.js"></script>
    <script>
        window.history.forward(1); 
    </script>
</head>

<body>
    <div class="index">
        <img src="../images/bg0.png" class="bgImg">
        <!-- 中间内容居中盒子 -->
        <div class="container">
            <!-- 标题 -->
            <div class="titleBox">
                <h1 class="title">最喜爱的教育文章</h1>
                <img src="../images/titleBorder.png" class="titleBorder">
            </div>
            <!-- 30 篇文章-->
            <div class="voteEssay topEssay">
                <div :class="item.animation == 1?'voteEssayCon topEssayCon animated pulse':'voteEssayCon topEssayCon'"
                    v-for="item in allArticleList">
                    <img :src="item.articleImg" class="voteEssayImg topEssayImg">
                    <div class="voteNum essayNum">{{item.articleIndex}}</div>
                    <div class="voteTitle essayTitle">{{item.title}}</div>
                    <div class="voteTickets tickets"><span class="ticketsNum">{{item.likeCount}}</span>票</div>
                </div>
            </div>
            <!-- 三个按钮 -->
            <div class="threeBtn">
                <!-- 开始暂停 -->
                <div class="begin">
                    <div @click="beginBg" v-if="!isBegin"><img src="../images/triangle.png" class="stopImg"></div>
                    <div @click="stopBg" v-else :class="gray"><img src="../images/stop.png" class="stopImg"></div>
                </div>
                <!-- 下一页 -->
                <!-- <a class="next1Box" href="top5.html"><img src="../images/nextArr.png" class="nextArrImg"></a> -->
                <div class="next1Box" @click="tonext"><img src="../images/nextArr.png" class="nextArrImg"></div>
            </div>
            <!-- 模态框-->
            <div :class="ModalState">
                <div class="ModalCon">
                    <p class="ModalTitle">提示</p>
                    <p class="ModalTips">是否确定停止?</p>
                    <div class="ModalBtnBox">
                        <p class="ModalCancel" @click="ModalCancel">取消</p>
                        <p class="ModalSure" @click="ModalSure">确定</p>
                    </div>
                </div>
            </div>
            <!--  模态框-->

            <!-- 模态框-->
            <div :class="ModalState2">
                <div class="ModalCon">
                    <p class="ModalTitle">提示</p>
                    <p class="ModalTips">{{ModalTips2}}</p>
                    <div class="ModalBtnBox">
                        <p class="ModalCancel" @click="Modal2Cancel">取消</p>
                        <p class="ModalSure" @click="Modal2Sure">确定</p>
                    </div>
                </div>
            </div>
            <!--  模态框-->
        </div>
    </div>


    <script type="text/javascript">
        var app = new Vue({
            el: ".index",
            data: {
                timeName: null,
                allArticleList: [],
                ticktsList: [],
                gray:'',
                isBegin: false, //开始暂停按钮的显示
                state:"", //是否结束调接口
                ModalState: 'closeModal',// 模态框样式判断 showModal closeModal
                ModalState2:'closeModal',
                webConfig:[],
                ModalTips2:"是否确定终止本环节?"
            },
            created: function () {
                let that = this;
                $.getJSON("../js/articleJson.json", function (data) {
                    that.allArticleList = data;
                });
                $.getJSON("../js/config.json", function (data) {
                    that.webConfig=data;
                });
            },
            computed: {
            },
           
            methods: {
                
                tonext: function () {
                    if(this.gray!='gray'){
                        this.ModalState2 = 'showModal';  //显示模态框
                        if(this.isBegin==false){
                            this.ModalTips2="请开始本环节！"
                        }else if(this.isBegin==true){
                            this.ModalTips2="是否确定终止本环节？"
                        }
                    }else{
                        window.location.href = "top5.html"
                    }
                },
                beginBg: function () {
                    var that = this;
                    that.Instance();
                    this.isBegin = true;
                    this.timeName = setInterval(function () {
                        that.Instance();
                    }, 2000);
                },
                stopBg: function () {
                    if(this.gray!='gray'){
                        this.ModalState = 'showModal';  //显示模态框
                    }
                },
                clearAnimation: function () {
                    $.each(this.allArticleList, function (i, value) {
                        value.animation = 0
                    })
                },

                Instance: function () {
                    let that = this;
                    $.ajax({
                        type: "get",
                        url: that.webConfig[0].webUrl+"api/Active/QueryArticeLike",
                        data: { sn: that.webConfig[0].sn, source: that.webConfig[0].source },
                        dataType: 'JSON',
                        success: function (res) {
                            that.clearAnimation();
                            if (res.data && res.data.length > 0) {
                                $.each(res.data, function (i, value) {
                                    var articleInfo = that.allArticleList.filter((a) => {
                                        return a.articleId == value.ArticleId;
                                    });
                                    if (articleInfo && articleInfo.length > 0) {
                                        // 票数增加的
                                        if (value.LikeCount > articleInfo[0].likeCount) {
                                            //看动画的数量是否够五个
                                            if (that.allArticleList.filter((a) => { return a.animation == 1; }).length < 9)
                                                articleInfo[0].animation = 1; //动画
                                        }
                                        articleInfo[0].likeCount = value.LikeCount; //票数
                                    }
                                })
                            }
                        },
                        error: function (errors) {

                        }
                    });
                },
                // 点击返回（模态框）
                Modal2Cancel: function () {
                    console.log('点击取消')
                    this.ModalState2 = 'closeModal';
                },
                // 点击确定（模态框）
                Modal2Sure: function () {
                    var that = this;
                    if(this.isBegin==false){
                        this.ModalState2 = 'closeModal';
                    }
                    if(this.isBegin==true){
                        this.ModalTips2="是否确定终止本环节?"
                        this.ModalState2 = 'closeModal';
                        this.gray='gray'; //背景颜色变灰
                        this.clearAnimation(); //清除动画
                        clearInterval(this.timeName); //清除定时器
                        // 暂停接口
                        $.ajax({
                            type: "get",
                            url: that.webConfig[0].webUrl+"api/Active/PauseCountArticleLike",
                            data: { sn: that.webConfig[0].sn, source: that.webConfig[0].source },
                            dataType: 'JSON',
                            success: function (res) {
                                if(res.state==1){
                                    window.location.href = "top5.html"
                                }
                            },
                            error: function (errors) {

                            }
                        });
                    }
                },
                // 点击返回（模态框）
                ModalCancel: function () {
                    console.log('点击取消')
                    this.ModalState = 'closeModal'
                },
                // 点击确定（模态框）
                ModalSure: function () {
                    var that= this;
                    console.log('点击确定')
                    this.ModalState = 'closeModal';
                    this.gray='gray'; //背景颜色变灰
                    this.clearAnimation(); //清除动画
                    clearInterval(this.timeName); //清除定时器
                    // 暂停接口
                    $.ajax({
                        type: "get",
                        url: that.webConfig[0].webUrl+"api/Active/PauseCountArticleLike",
                        data: { sn: that.webConfig[0].sn, source: that.webConfig[0].source },
                        dataType: 'JSON',
                        success: function (res) {
                            
                        },
                        error: function (errors) {

                        }
                    });
                }
            }
        });
    </script>
</body>

</html>