 <link type="text/css" rel="stylesheet" media="all" href="/sitecake/2.4.10/client/pagemanager/css/pagemanager.2.4.10.css"/>
 <link type="text/css" rel="stylesheet" media="all" href="/sitecake/sitecake.css"/>
<script type="text/javascript" language="javascript">
	var sitecakeGlobals = {
	editMode: true, 
	serverVersionId: "2.4.8dev",
	phpVersion: "7.4.1@WINNT",
        serviceUrl: "/api/sitecake/app", 
        configUrl: "/api/sitecake/editor",
	draftPublished: false, 
	entryPoint: "app",
	indexPageName: "index.html"
	};</script>
<script data-cfasync="false" type="text/javascript" language="javascript" src="sitecake/2.4.10/client/contentmanager/contentmanager.nocache.js"></script>
<script data-cfasync="false" type="text/javascript" language="javascript" src="sitecake/2.4.10/client/pagemanager/js/vendor.2.4.10.js"></script>
<!--<script data-cfasync="false" type="text/javascript" language="javascript" src="sitecake/2.4.10/client/pagemanager/js/pagemanager.2.4.10.js"></script>-->
<meta name="robots" content="noindex, nofollow"/>
<meta name="application-name" content="sitecake" data-pageid="{pageid}" />
