* {
    margin: 0;
    padding: 0;
    box-sizing: content-box!important;
}
html{
    /*font-size: 62.5%!important;*/
    /*font-size: calc(100vw/6.40);*/
    width: 100%;
    height: 100%;
    font-family:"Arial","微软雅黑"!important;
    -webkit-tap-highlight-color:rgba(255,255,255,0);
}
body {
    width: 100%;
    height: 100%;
    font-family:"Arial","微软雅黑"!important;
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    background-color: #f5f5f5!important;
}
.fl{ float:left;}	
.fr{ float:right;}
.clear:after {
    content: '';
    height: 0;
    display: block;
    font-size: 0;
    visibility: hidden;
    clear: both;
}

/* index page */
.index{
    width: 100%;
}
.container{
    width: 90%;
    margin: 0 auto;
    padding-top: 5vh;
    box-sizing: border-box;
}
.bgImg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -99;
}
.titleBox{
    width: 40vw;
    height: 9vh;
    line-height: 9vh;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.titleBorder{
    width: 40vw;
    height: 9vh;
    position: absolute;
    top: 0;
    left: 0;
}
.title{
    font-size: 4vh !important;
    letter-spacing: 0.3vw;
    color: #00e1fd;   
    padding-top: 0.8vh;
    box-sizing: border-box;            
}        
.QRcodeBox{
    width: 43vh;
    margin: 0 auto;
    margin-top: 15vh;
    text-align: center;
}
.QRcode{
    width: 43vh;
	height: 43vh;
}
.saoZi{
    font-size: 3vh;
    color: #ffffff;
    margin: 4vh 0 8vh;
}
.next0Box{
    display: block;
    width: 4vw;
    height: 2vw;
    margin: 0 auto;
}
.next0{
    width: 4vw;
	height: 2vw;
}

/* top5 page */
.topImg{
    width: 91vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin: 13vh 0 5vh;
}
.topImg>img{
    width: 8vh;
	height: 9vh;
}
.topEssay{
    width: 91vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.topEssayCon{
    width: 17vw;
    text-align: center;
    position: relative;
}
.essayNum{
    width: 5vw;
    height: 4vh;
    line-height: 4vh;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}
.essayNumImg{
    width: 5vw;
    height: 4vh;
    position: absolute;
    top: 0;
    left: 0;
}
.topNum{
    font-size: 3.1vh;
    z-index: 999;
    color: #fff;
    position: absolute;
    top: 0.1vh;
    left: 2.5vh;
}
.topEssay>div{
    width: 17vw;
    background: #fff;
    border-radius: 0.3vw;
}
.topEssayImg{
    width: 17vw !important;
	height: 12vw;
    border-radius: 0.3vw !important;
}
.essayTitle{
    height: 13vh;
    font-size: 2.2vh;
    line-height: 3.1vh;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1vw;
    box-sizing: border-box;
}
.tickets{
    width: 17vw;
    height: 8vh;
    line-height: 8vh;
    background-color: #fef9e6;
    border-radius: 0vw 0vw 0.3vw 0.3vw !important;
    font-size: 3vh;
	color: #ee3a3a;
}
.top5Tickts{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* voteEssay page */
.voteEssay{
    width: 91vw !important;
    margin: 0 auto !important;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 4vh;
}
.voteEssayCon{
    width: 8vw !important;
    background-color: #fff !important;
    border: 0.15vw solid #00e1fd;
    margin-top: 1vh;
}
.voteEssayImg{
    width: 8vw !important;
    height: 9vh !important;
}
.voteTitle{
    height: 9vh !important;
    font-size: 1.8vh;
    line-height: 2.3vh;
    text-align: center;
    padding: 0 0.1vw;
    justify-content: center;
}
.voteTickets{
    width: 8vw !important;
    height: 4vh !important;
    font-size: 1.9vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ticketsNum{
    font-size: 3.5vh !important;
    margin-right: 0.3vw;
}
.top5ticketsNum{
    font-size: 5vh !important;
}
.voteNum{
    width: 2.3vw;
    height: 2vh;
    line-height: 2vh;
    background-color: #ffffff;
    border-radius: 0.3vw 0vw 1vw 0vw;
    font-size: 1.9vh;
    color: #333333;
    padding-right: 0.3vw;
    box-sizing: border-box !important;
}
.threeBtn{
    width: 89vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vh;
}
.begin{
    display: flex;
    cursor: pointer;
}
.begin>div,.next1Box{
    display: block;
    width: 3vw;
	height: 4vh;
	background-color: #00e1fd;
    border-radius: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.gray{
    background-color: #ccc !important;
}
.stopImg{
    width: 1vw;
	height: 2vh;
}
.next1Box{
    width: 5vw;
    height: 4vh;
	background-color: #00e1fd;
	border-radius: 1vh;
}
.nextArrImg{
    width: 2vw;
	height: 2vh;
}

/* top10 page */
.top10Box{
    width: 84vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 1vw;
    margin-top: 16vh;
    position: relative;
}
.top10Con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.photo{
    width: 3vw;
	height: 3vw;
}
.nickName{
    width: 6vw;
    overflow: hidden;    
    text-overflow:ellipsis;    
    white-space: nowrap;
    text-align: center;
    font-size: 1.2vw;
    margin: 2vh 0;
}
.barBox{
    width: 1vw;
    height: 28vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    animation: myfirst 1s infinite;
    animation-iteration-count:1;
}
.bar{
    width: 2.5vw;
    height: 28vh;
	background-image: linear-gradient(0deg, 
		rgba(238, 172, 58, 0.3) 0%, 
		#eeac3a 100%);
	box-shadow: 0vh 0vh 1vh 0vh 
		rgba(8, 9, 37, 0.3);
    margin: 1vh 0 3vh;
}
.bar2{
    width: 2.5vw !important;
    height: 14vh !important;
    background-image: linear-gradient(0deg, 
		rgba(238, 172, 58, 0.3) 0%, 
		#eeac3a 100%);
	box-shadow: 0vh 0vh 1vh 0vh 
		rgba(8, 9, 37, 0.3);
    margin: 1vh 0 3vh;
}
.bar1{
    width: 2.5vw !important;
    height: 7vh !important;
    background-image: linear-gradient(0deg, 
		rgba(238, 172, 58, 0.3) 0%, 
		#eeac3a 100%);
	box-shadow: 0vh 0vh 1vh 0vh 
		rgba(8, 9, 37, 0.3);
    margin: 1vh 0 3vh;
}
@keyframes myfirst
{
    from {height:0px;
        margin-top: 200px;}
    to { }
}
.top10ThreeBtn{
    width: 80vw;
    margin: 0 auto;
    margin-top: 8vh;
}

/*模态框样式*/
.showModal{
    width: 100%;
    height: 100vh;
    background:rgba(0,0,0,0.7);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.closeModal{
    display: none;
}
.ModalCon{
    width: 20%;
    height: 25%;
    border-radius: 10px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    z-index: 99999;
}
.ModalTitle{
    width: 100%;
    height: 5vh;
    border-bottom: 1px solid #00e1fd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh !important;
    letter-spacing: 0.3vw;
    color: #00e1fd; 
}
.ModalTips{
    width: 100%;
    height: 10vh;
    display: flex;
    color: #999;
    font-size: 2.5vh !important;
    justify-content: center;
    align-items: center;
}
.ModalBtnBox{
    width: 100%;
    height: 5vh;
    display: flex;
    border-top: 0.1vh solid #00e1fd;
    cursor: pointer;
    font-size: 2.4vh !important;
    /* font-weight: bolder; */
}
.ModalSure{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.3vw;
    color:#00e1fd;
}
.ModalCancel{
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 0.1vh solid #00e1fd;
    letter-spacing: 0.3vw;
    color: #999999;
}
/*模态框样式*/

.top10load{
    width: 85vw;
    height: 54vh;
    position: absolute;
    top: 9.9vh;
    left: 0.4vw;
    z-index: -1;
}
.top10Intro{
    width: 47vw;
    color: #fff;
    font-size: 2.5vh;
    margin-top: 35vh;
    margin-left: -33vw;
}
.top10BtnBox{
    position: absolute;
    top: 78vh;
    left: 9.4vw;
}
.ratetop10{
    color: #FFF;
    text-align: center;
    margin-top: 13vh;
    font-size: 3vh;
}
.top10Box2{
    margin-top: 4vh !important;
}









