
      <div class="pc_header clearfix">
        <div class="header_logo">
          <a title="主页" href="/home.html">
            <div class="logo_content">
              <img alt="主页" class="img-responsive" title="主页" src="/images/philips-logo-new.png">
              <span class="logo_text_field" title="主页">主页</span>
              <h3 class="logo_sub_text_field" title="主页">主页</h3>
            </div>
          </a>
        </div>
        <div class="header_nav">
          <div class="nav_menus">
            <ul>
              <li class="">
                <a href="/about.html"title="关于飞利浦">
                  <span>关于飞利浦</span>
                </a>
              </li>
              <li class="">
                <a href="/professional.html"title="社会精英">
                  <span>社会精英</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="nav_links">
            <ul>
              <li>
                <a href="https://philips.wd3.myworkdayjobs.com/zh-CN/jobs-and-careers/login" target="_blank" title="">
                  <i class="icon icon-bigger-profile"></i> </a>
              </li>
              <li class="country-link">
                <a href="javascript:;" onclick="openCountry()" target="_blank" title="">China<i class="icon icon-down-arrow"></i> </a>
                <ul class="menupanel">
                  <li class="li-menu-item">
                    <a href="https://www.careers.philips.com/aun/en">ANZ (English)</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="https://www.careers.philips.com/africa/en">Africa (English)</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="https://www.careers.philips.com/apac/en">Asia Pacific (English)</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="https://www.careers.philips.com/cee/en">CEE (English)</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="https://www.careers.philips.com/de/de">DACH (German)</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="https://www.careers.philips.com/fr/en">France (English)</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="https://www.careers.philips.com/global/en">Global (English)</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="https://www.careers.philips.com/gb/en">Great Britain (English)</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="https://www.careers.philips.com/in/en">India (English)</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="https://www.careers.philips.com/id/en">Indonesia (English)</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="https://www.careers.philips.com/il/en">Israel (English)</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="https://www.careers.philips.com/jp/ja">Japan (Japanese)</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="https://www.careers.philips.com/latam/pt">Latin America (Portuguese) </a>
                  </li>
                  <li class="li-menu-item">
                    <a href="https://www.careers.philips.com/latam/es">Latin America (Spanish)</a>
                  </li>

                  <li class="li-menu-item">
                    <a href="https://www.careers.philips.com/my/en">Malaysia (English)</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="https://www.careers.philips.com/xe/en">Middle East & Turkey (English)</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="https://www.careers.philips.com/nl/nl">Netherlands (Dutch)</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="https://www.careers.philips.com/nl/en">Netherlands (English)</a>
                  </li>

                  <li class="li-menu-item">
                    <a href="https://www.careers.philips.com/nrd/en"> Nordic (English)</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="https://www.careers.philips.com/na/en">North America (English)</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="https://www.careers.philips.com/na/fr">North America (French)</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="https://www.careers.philips.com/ph/en">Philippines (English)</a>
                  </li>

                  <li class="li-menu-item">
                    <a href="https://www.careers.philips.com/ru/ru">Russia (Russian)</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="https://www.careers.philips.com/sg/en">Singapore (English)</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="https://www.careers.philips.com/kr/kr">South Korea (Korea)</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="https://www.careers.philips.com/th/en">Thailand (English)</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="https://www.careers.philips.com/vn/en">Vietnam (English)</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mobile_header">
        <div class="blue_grad_bg">
          <div class="mobile_logo_content clearfix">
            <div class="mobile_logo">
              <a title="主页" href="/home.html">
                <div class="logo_content">
                  <img alt="主页" class="img-responsive" title="主页" src="/images/philips-logo-new.png">
                  <h3 class="logo_sub_text_field" title="主页">主页</h3>
                </div>
              </a>
            </div>
            <div class="mobile_header_icons">
              <ul>
                <li>
                  <a href="https://philips.wd3.myworkdayjobs.com/zh-CN/jobs-and-careers/login" target="_blank" title="我的申请状态">
                    <i class="icon icon-bigger-profile">
                    </i>
                  </a>
                </li>
                <li>
                  <a href="javascript:;" onclick="toggle_visibility()" target="_blank" title="">
                    <i class="icon icon-menu"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="ph-navigation">
              <nav class="navbar-nav">
                <ul>
                  <li> <a href="/about.html">关于飞利浦</a></li>
                  <li> <a href="/professional.html">社会精英</a></li>
                  <li> <a href="#" onclick="toggle_visibility4()" class="visibility4">China<i class="icon icon-down-arrow"></i></a>
                    <nav class="navbar-nav navbar-nav4">
                      <ul class="">
                        <li class="">
                          <a href="https://www.careers.philips.com/aun/en">ANZ (English)</a>
                        </li>
                        <li class="">
                          <a href="https://www.careers.philips.com/africa/en">Africa (English)</a>
                        </li>
                        <li>
                          <a href="https://www.careers.philips.com/apac/en">Asia Pacific (English)</a>
                        </li>
                        <li>
                          <a href="https://www.careers.philips.com/cee/en">CEE (English)</a>
                        </li>
                        <li>
                          <a href="https://www.careers.philips.com/de/de">DACH (German)</a>
                        </li>
                        <li>
                          <a href="https://www.careers.philips.com/fr/en">France (English)</a>
                        </li>
                        <li>
                          <a href="https://www.careers.philips.com/global/en">Global (English)</a>
                        </li>
                        <li>
                          <a href="https://www.careers.philips.com/gb/en">Great Britain (English)</a>
                        </li>
                        <li>
                          <a href="https://www.careers.philips.com/in/en">India (English)</a>
                        </li>
                        <li>
                          <a href="https://www.careers.philips.com/id/en">Indonesia (English)</a>
                        </li>
                        <li>
                          <a href="https://www.careers.philips.com/il/en">Israel (English)</a>
                        </li>
                        <li>
                          <a href="https://www.careers.philips.com/jp/ja">Japan (Japanese)</a>
                        </li>
                        <li>
                          <a href="https://www.careers.philips.com/latam/pt">Latin America (Portuguese) </a>
                        </li>
                        <li>
                          <a href="https://www.careers.philips.com/latam/es">Latin America (Spanish)</a>
                        </li>
      
                        <li>
                          <a href="https://www.careers.philips.com/my/en">Malaysia (English)</a>
                        </li>
                        <li>
                          <a href="https://www.careers.philips.com/xe/en">Middle East & Turkey (English)</a>
                        </li>
                        <li>
                          <a href="https://www.careers.philips.com/nl/nl">Netherlands (Dutch)</a>
                        </li>
                        <li>
                          <a href="https://www.careers.philips.com/nl/en">Netherlands (English)</a>
                        </li>
      
                        <li>
                          <a href="https://www.careers.philips.com/nrd/en"> Nordic (English)</a>
                        </li>
                        <li>
                          <a href="https://www.careers.philips.com/na/en">North America (English)</a>
                        </li>
                        <li>
                          <a href="https://www.careers.philips.com/na/fr">North America (French)</a>
                        </li>
                        <li>
                          <a href="https://www.careers.philips.com/ph/en">Philippines (English)</a>
                        </li>
      
                        <li>
                          <a href="https://www.careers.philips.com/ru/ru">Russia (Russian)</a>
                        </li>
                        <li>
                          <a href="https://www.careers.philips.com/sg/en">Singapore (English)</a>
                        </li>
                        <li>
                          <a href="https://www.careers.philips.com/kr/kr">South Korea (Korea)</a>
                        </li>
                        <li>
                          <a href="https://www.careers.philips.com/th/en">Thailand (English)</a>
                        </li>
                        <li>
                          <a href="https://www.careers.philips.com/vn/en">Vietnam (English)</a>
                        </li>
                      </ul>
                    </nav>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div style="clear:both;"></div>
          <div class="mobile_logo_text">
            <span>主页</span>
          </div>
        </div>
      </div>
    