<?xml version="1.0" encoding="utf-8" ?>
<activerecord>
  <config>
    <add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
    <add key="dialect" value="NHibernate.Dialect.MsSql2008Dialect"/>
    <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>

    <!--<add key="connection.connection_string" value="server=211.152.44.17,2433;database=philips_weikang_video;uid=sa;pwd=Ji@01%!@15Fen^10"/>-->
    <!--<add key="connection.connection_string" value="server=211.152.44.17,2433;database=lt_aremailreport;uid=aremail;pwd=aremailreport"/>-->
    <add key="connection.connection_string" value="server=211.152.44.17,2433;database=philips_ultrasound_report;uid=ultrasound_report;pwd=@philips_ultrasound_report"/>
    <!--<add key="connection.connection_string" value="Password=Fff111111ffF;Persist Security Info=True;User ID=sa;Initial Catalog=asc_template;Data Source=."/>-->
    <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" />
  </config>

  <!--<config type="Primer.Domain.SequencingDB`1,Primer.Domain">
    <add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
    <add key="dialect" value="NHibernate.Dialect.MsSql2008Dialect"/>
    <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
    
    <add key="connection.connection_string" value="server=127.0.0.1;database=lt_test;uid=sa;pwd=sa"/>
    <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" />
  </config>-->
</activerecord>