
  <div class="footer-block">
    <div class="container">
      <div class="row">
        <div class="col-12 p-footer">
          <div class="p-grid-no-gutter">
            <div class="p-grid-item p-footer-social p-m-two-fifths">
              <h3 class="p-body-copy-02">关注我们</h3>
              <div>
                <ul>
                  <li> <a href="https://www.facebook.com/philips"><i class="icon icon1"></i></a> </li>
                  <li> <a href="https://www.flickr.com/photos/philips_newscenter"><i class="icon icon2"></i></a></li>
                  <li><a href="https://www.instagram.com/philips"><i class="icon icon3"></i></a></li>
                  <li><a href="https://www.linkedin.com/company/philips/careers"><i class="icon icon4"></i></a></li>
                  <li><a href="https://www.pinterest.com/philipsglobal"><i class="icon icon5"></i></a></li>
                  <li><a href="https://www.twitter.com/LifeAtPhilips"><i class="icon icon6"></i></a></li>
                  <li><a href=""><i class="icon icon7"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="p-grid-item p-one-whole p-m-one-fifth p-philips-shield"></div>
          </div>
        </div>
      </div>
      <div class="row terms">
        <ul class="col-12 text-center">
          <li><a href="https://www.philips.com/a-w/about/investor.html">投资者关系</a></li>
          <li><a href="">招贤纳士</a></li>
          <li><a href="https://www.philips.com.cn/a-w/careers/healthtech/contact.html">联系飞利浦</a></li>
          <li><a href="https://www.philips.com.cn/a-w/about-philips/company-profile.html">关于飞利浦</a></li>
          <li><a href="https://www.philips.com.cn/a-w/cookie-notice.html">Cookie 政策</a></li>
          <li><a href="https://www.philips.com/a-w/people-privacy-notice.html">隐私权声明</a></li>
          <li><a href="https://www.philips.com.cn/a-w/terms-of-use.html">使用条款</a></li>
        </ul>
        <div class="col-12 text-center section-copyright">
          <span>
            ©
            Koninklijke Philips N.V., 2004 - 2020.
          </span>
          <span>保留所有权利。</span>
        </div>
      </div>
    </div>
  </div>

