
      <div class="pc_header clearfix">
        <div class="header_logo">
          <a title="主页" href="/home.html">
            <div class="logo_content">
              <img alt="主页" class="img-responsive" title="主页" src="/images/philips-logo-new.png">
              <span class="logo_text_field" title="主页">主页</span>
              <h3 class="logo_sub_text_field" title="主页">社会英才</h3>
            </div>
          </a>
        </div>
        <div class="header_nav">
          <div class="nav_menus">
            <ul>
              <li class="">
                <a href="/about.html"title="关于飞利浦">
                  <span>关于飞利浦</span>
                </a>
              </li>
              <li class="">
                <a href="/pro-workingatphilips.html"title="在飞利浦工作">
                  <span>在飞利浦工作</span>
                </a>
              </li>
              <li class="menu-link">
                <a href="#" title="">
                  <span>专业领域</span>
                </a>
                <ul class="menupanel">
                  <li class="li-menu-item">
                    <a href="/careerinquality.html">质量法规</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="/careerinprocurement.html">采购</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="/careerinsales.html">销售</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="/careerinrandd.html">研发</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="/careerinengineering.html">工程</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="/careerinmarketing.html">市场营销</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="/softwaredevelopment.html">软件工程师</a>
                  </li>
                </ul>
              </li>
              <li class="">
                <a href="/blog.html"title="员工博客">
                  <span>员工博客</span>
                </a>
              </li>
              <li class="menu-link">
                <a href="#" title="">
                  <span>搜寻职位</span>
                </a>
                <ul class="menupanel">
                  <li class="li-menu-item">
                    <a href="/search-results.html">搜寻职位</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="/recruitmentprocess.html">飞利浦招聘流程</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="/faq.html">飞利浦招聘的常见问题</a>
                  </li>
                  <li class="li-menu-item">
                    <a href="https://www.philips.com.cn/a-w/careers/healthtech/contact.html">联系我们</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="nav_links">
            <ul>
              <li>
                <a href="https://philips.wd3.myworkdayjobs.com/zh-CN/jobs-and-careers/login" target="_blank" title="">
                  <i class="icon icon-bigger-profile"></i> </a>
              </li>
              <li>
                <a href="javascript:;" target="_blank" title="搜寻职位" class="bigger-search" onclick="openSearch(this)">
                  <i class="icon icon-bigger-search"></i>
                </a>
                <div id="header-search">
                  <div class="job-filter">
                    <input type="text" placeholder="输入职位名称或工作地点" onfocus="openSearchList()">
                    <a href="javascript:;" class="phs-keysearch-clear">
                      <i class="icon icon-cancel"></i>
                    </a>
                    <div class="phs-search-suggestions">
                      <div style="width:100%;">
                        <h3>
                          职位类别
                        </h3>
                        <ul class="phs-search-category-list">
                          <li>
                            <a href="/search-results.html?keyword=">
                              <span>销售</span>
                              <span class="phs-jobs-count">56</span>
                            </a>
                          </li>
                          <li>
                            <a href="/search-results.html?keyword=">
                              <span>销售</span>
                              <span class="phs-jobs-count">56</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <span class="input-group-btn">
                    <button>
                      <i class="icon icon-search"></i>
                    </button>
                  </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mobile_header">
        <div class="blue_grad_bg">
          <div class="mobile_logo_content clearfix">
            <div class="mobile_logo">
              <a title="主页" href="/home.html">
                <div class="logo_content">
                  <img alt="主页" class="img-responsive" title="主页" src="/images/philips-logo-new.png">
                  <h3 class="logo_sub_text_field" title="主页">主页</h3>
                </div>
              </a>
            </div>
            <div class="mobile_header_icons">
              <ul>
                <li>
                  <a href="https://philips.wd3.myworkdayjobs.com/zh-CN/jobs-and-careers/login" target="_blank" title="我的申请状态">
                    <i class="icon icon-bigger-profile">
                    </i>
                  </a>
                </li>
                <li>
                  <a href="javascript:;" target="_blank" title="搜寻职位" class="bigger-search" onclick="openSearch(this)">
                    <i class="icon icon-bigger-search"></i>
                  </a>
                  <div id="header-search">
                    <div class="job-filter">
                      <input type="text" placeholder="输入职位名称或工作地点" onfocus="openSearchList()">
                      <a href="javascript:;" class="phs-keysearch-clear">
                        <i class="icon icon-cancel"></i>
                      </a>
                      <div class="phs-search-suggestions">
                        <div style="width:100%;">
                          <h3>
                            职位类别
                          </h3>
                          <ul class="phs-search-category-list">
                            <li>
                              <a href="/search-results.html?keyword=">
                                <span>销售</span>
                                <span class="phs-jobs-count">56</span>
                              </a>
                            </li>
                            <li>
                              <a href="/search-results.html?keyword=">
                                <span>销售</span>
                                <span class="phs-jobs-count">56</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <span class="input-group-btn">
                      <button>
                        <i class="icon icon-search"></i>
                      </button>
                    </span>
                  </div>
                </li>
                <li>
                  <a href="javascript:;" onclick="toggle_visibility()" target="_blank" title="我的申请状态">
                    <i class="icon icon-menu"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="ph-navigation">
              <nav class="navbar-nav">
                <ul>
                  <li> <a href="/about.html">关于飞利浦</a></li>
                  <li> <a href="/pro-workingatphilips.html">在飞利浦工作</a></li>
                  <li> <a href="#" onclick="toggle_visibility2()">专业领域</a>
                    <nav class="navbar-nav navbar-nav2">
                      <ul class="">
                        <li class="">
                          <a href="/careerinquality.html">质量法规</a>
                        </li>
                        <li class="">
                          <a href="/careerinprocurement.html">采购</a>
                        </li>
                        <li class="">
                          <a href="/careerinsales.html">销售</a>
                        </li>
                        <li class="">
                          <a href="/careerinrandd.html">研发</a>
                        </li>
                        <li class="">
                          <a href="/careerinengineering.html">工程</a>
                        </li>
                        <li class="">
                          <a href="/careerinmarketing.html">市场营销</a>
                        </li>
                        <li class="">
                          <a href="/softwaredevelopment.html">软件工程师</a>
                        </li>
                      </ul>
                    </nav>
                    
                  </li>
                  <li>
                    <a href="/blog.html">Blog</a>
                  </li>
                  <li> <a href="#" onclick="toggle_visibility3()">Get Started</a>
                    <nav class="navbar-nav navbar-nav3">
                      <ul class="">
                        <li class="">
                          <a href="/search-results.html">搜寻职位</a>
                        </li>
                        <li class="">
                          <a href="/recruitmentprocess.html">飞利浦招聘流程</a>
                        </li>
                        <li class="">
                          <a href="/faq.html">飞利浦招聘的常见问题</a>
                        </li>
                        <li class="">
                          <a href="https://www.philips.com.cn/a-w/careers/healthtech/contact.html">联系我们</a>
                        </li>
                      </ul>
                    </nav>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div style="clear:both;"></div>
          <div class="mobile_logo_text">
            <span>社会英才</span>
          </div>
        </div>
      </div>
    