    <ul>
        <li>
            <a target="_blank" href="/search-results-professional.html"class="a1">
                <div class="float-mask">
                    职位<br>搜索
                </div>
            </a>
        </li>
        <li class="ewm">
            <a href="javascript:void(0);" class="a2">
                <div class="float-mask">
                    扫二<br>维码
                </div>
                <div class="pop-ewm">
                    <img src="/images/pop-ewm.png">
                </div>
            </a>
        </li>
        <li>
            <a onclick="$(&quot;html,body&quot;).animate({scrollTop:0}, 500);" class="a3">
                <div class="float-mask">
                    返回<br>顶部
                </div>
            </a>
        </li>
    </ul>